div#loader {
	top: 350px;
	left:650px;
	position: absolute;
	z-index: 666;
}

body {
    padding-top: 50px;
}

div.navbar-inner {
  	background-image: url("../images/logo.png");
  	background-repeat: no-repeat;
  	background-position:right; 
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 120px;                  
  height: 20px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}