#{extends 'main.html' /} #{set title:'Engineering Challenge' /}


<style>

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

</style>

<script type="text/javascript">

// for displaying twirly image when ajax requests are in flight
jQuery.ajaxSetup({
	  beforeSend: function() {
	     jQuery('#loader').show();
	  },
	  complete: function(){ 
		  jQuery('#loader').hide();
	  },
	  success: function() {
		  jQuery('#loader').hide();
	  }
	});


// page specific javascript client code follows
var danc = danc || {};

// encapsulate in a closure
danc.fxutils = ( function() {
	var that = {};        

	// load the rates (as JSON) from the server
	function loadRates() {
		jQuery("select#fxRates").empty();
		
		jQuery.getJSON( "/codes", function(data) {
			jQuery.each(data.codes, function(key, val) {
				var ccyOpt = jQuery("<option/>");
				ccyOpt.val(val);
				ccyOpt.text(val);
				jQuery("select#fxRates").append(ccyOpt);
			});
		})
		.done(function() {  
			jQuery('.selectpicker').selectpicker();	
		})
		.fail(function() { console.log( "Error loading rates from server" ); })
		.always(function() {  });
	}

	// load 90 day history (as JSON) for a given currency
	function loadHistory(ccy) {
		
		jQuery.getJSON( "/rates90/"+ccy, function(data) {
			renderGraph(data.history, data.currency);
		})
		.done(function() {  })
		.fail(function() { console.log( "Error loading historical data for selected currency" ); })
		.always(function() {  });
		
	}
	
	// with the history data loaded for the given currency, reneder the graph using d3
	// note: a lot of the code below is lifted from the standard line-graph example at the d3 webpage
	// and adapted for this task
	function renderGraph(data, ccy) {
		
		jQuery("div#graph").empty();
		
		var margin = {top: 60, right: 20, bottom: 30, left: 50},
		    width = 960 - margin.left - margin.right,
		    height = 500 - margin.top - margin.bottom;

		var parseDate = d3.time.format("%Y-%m-%d").parse;
		var formatTime = d3.time.format("%e %B");

		var x = d3.time.scale()
		    .range([0, width]);

		var y = d3.scale.linear()
		    .range([height, 0]);

		var xAxis = d3.svg.axis()
		    .scale(x)
		    .orient("bottom");

		var yAxis = d3.svg.axis()
		    .scale(y)
		    .orient("left");

		var line = d3.svg.line()
		    .x(function(d) { return x(d.date); })
		    .y(function(d) { return y(d.rate); });

		var tooltip = d3.select("div#graph").append("div")   
	    	.attr("class", "tooltip")               
	    	.style("opacity", 0);
		
		var svg = d3.select("div#graph").append("svg")
		    .attr("width", width + margin.left + margin.right)
		    .attr("height", height + margin.top + margin.bottom)
		    .append("g")
		    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

		  // abbreviate the date 
		  jQuery.each(data, function() {
		    this.date = parseDate(this.date);
		  });

		  x.domain(d3.extent(data, function(d) { return d.date; }));
		  y.domain(d3.extent(data, function(d) { return d.rate; }));

		  // x-axis 
		  svg.append("g")
		      .attr("class", "x axis")
		      .attr("transform", "translate(0," + height + ")")
		      .call(xAxis)
		      .append("text")
		      .attr("x", 440)
		      .style("font-weight", "bold")
		      .text("Date");

		  // y-axis
		  svg.append("g")
		      .attr("class", "y axis")
		      .call(yAxis)
		    .append("text")
		      .attr("transform", "rotate(-90)")
		      .attr("y", 6)
		      .attr("dy", ".71em")
		      .style("text-anchor", "end")
		      .style("font-weight", "bold")
		      .text("Value (" +ccy +")");

		  svg.append("path")
		      .datum(data)
		      .attr("class", "line")
		      .attr("d", line);
		 
		  // chart title
		  svg.append("text")
	        .attr("x", (width / 2))             
	        .attr("y", 0 - (margin.top / 2))
	        .attr("text-anchor", "middle")  
	        .style("font-size", "16px") 
	        .style("font-weight", "bold") 
	        .text("1 EUR vs " +ccy + " - last 90 days");
	
		  // tooltip when mouse hovers over a point
		  svg.selectAll("dot")
		     .data(data)
		   	 .enter().append("circle")
		     .attr("r", 3.5)
		     .attr("cx", function(d) { return x(d.date); })
		     .attr("cy", function(d) { return y(d.rate); })
		     .on("mouseover", function(d) {      
		    	 tooltip.transition()        
		                .duration(200)      
		                .style("opacity", .9);      
		    	 tooltip .html(formatTime(d.date) +": "  + d.rate)  
		                .style("left", (d3.event.pageX) + "px")     
		                .style("top", (d3.event.pageY - 28) + "px");    
		            })                  
		        .on("mouseout", function(d) {       
		        	tooltip.transition()        
		                .duration(500)      
		                .style("opacity", 0);   
		        });
			
	}

	that.loadRates = loadRates;
	that.loadHistory = loadHistory;
	return that;
}() );
       
// when document is ready...  
jQuery(function() {
	
	// attach listener to load rates button
	jQuery("button#reloadRatesBtn").click(function() {
		danc.fxutils.loadRates();
	});

	// attach listener to display graph button
	jQuery("button#reloadGraphBtn").click(function() {
		var ccy = jQuery("select#fxRates").val();
		
		// default to USD
		if (null == ccy || typeof(ccy) == 'undefined') {
			ccy = "USD";
		}
		danc.fxutils.loadHistory(ccy);
	});
	
	// default action is to show USD when page loads
	danc.fxutils.loadHistory('USD');
	danc.fxutils.loadRates();
	
	
});
</script>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a id="titleLink" class="brand" href="/fx">BX / FX</a>
            </div>
        </div>
    </div>

	<div class="container">
		<p>&{'views.rates.text.intro'}</p>
		<div class="form-horizontal well" id="graphCtrls">
			<label>&{'views.rates.text.selectccy'}:</label><select class="selectpicker" data-style="btn-small" id="fxRates"></select>
			<span id="graphBtns">
				<button class="btn btn-small" id="reloadRatesBtn"><i class="icon-refresh"></i> &{'views.rates.button.reload'}</button>
				<button class="btn btn-small" id="reloadGraphBtn"><i class="icon-signal"></i> &{'views.rates.button.showgraph'}</button>
			</span>
			
		</div>
		<div id="graph"></div>
	</div>


	<!-- twirly spinner -->
	<div id="loader" style="display:none;">
	<img src="@{'/public/images/loader.gif'}"/>
	</div>
